*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*/////////////////////////////////////////////////////////////*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.rightmenu {
    margin: 30px;
    width: 671px;
    height: 525px;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 30px;
}

.leftmenu {
    margin: 30px;
    width: 612px;
    height: 468px;
    padding: 30px;
    font-size: 30px;
}

.point {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

.name {
    font-size: 25px;
}

.edit {
    margin-left: 50%;
    height: 30px;
    width: 30px;
    object-fit: contain;
    border-radius: 7px;
    background-color: green;

}

.delete {
    height: 30px;
    width: 30px;
    background-color: rgb(128, 0, 0);
    border-radius: 7px;
}

/* .shift-right{
    margin-left: 50%;
} */

.add {
    width: 151px;
    height: 53px;
    border-radius: 20px;
    background-color: #3860C6;
    margin-top: 20px ;
    font-size: 32px;
}

.pen_png{
    height: 70%;
    width: 70%;
    z-index: 10;
}

.basket{
    height: 70%;
    width: 70%;
    z-index: 10;
}